<style>
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

.collapsible:after {
  content: '\002B';

  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
</style>
{{>header}}
{{>overlay}}
<!----------- start of search bar----------------->
<!--<div  id="stickysearchbar" class="container margin-class section-margin" style="">
		<div class="title-margin-class" style="background-color:#062e57;">
			<form class="form-inline" action="/users/find_tutor">
				<div class="form-group form-header">
					<h6 style="color:white; font-size:2.5rem; line-height:1;">Find Your</span></h6>
					<h4 style="color:#aece61; font-size:3.125rem; line-height:1;">Tutor</h4>
				</div>
				<div class="form-group">
					<input type="text" class="form-control searchbar-input" id="subject" placeholder="Enter a subject" name="subject" required>
				</div>
				<div class="form-group">
					<input type="text" class="form-control searchbar-input" id="location" placeholder="Location" name="location">
				</div>
				<div class="form-group">
					<input type="number" class="form-control searchbar-input" id="number" placeholder="Zipcode" name="number">
				</div>
				<div class="form-group" style="padding-bottom:15px; text-align:center; margin-left:10px;">
					<button class="button btn btn-lg" type="submit">Find Now</button>
				</div>

			</form>
		</div>
	</div>-->
  <!----------- end of search bar ----------------->

  <div id="stickysearchbar" class="margin-class  container" style="margin-top:10%;">
    <div class="title-margin-class"   style="background-color: #062e57;">
      <div class="row">
      <form class="form-inline" action="/users/find_tutor" method="get">
          <div class="col-sm-3 col-md-3">
            <div class="form-group form-header" style="">
              <h6 style="color:white; font-size:2.5rem; line-height:1;">Find Your</span></h6>
              <h4 style="color:#aece61; font-size:3.125rem; line-height:1;">Tutor</h4>
            </div>
          </div>
          <div class="col-sm-9 col-md-9  form-body" style="">
              <div class="form-group">
                <input onkeydown="checkkey(event);" type="text" class="form-control searchbar-input" id="subject" placeholder="Enter a subject" name="subject">
              </div>
              <div class="form-group">
                <input type="text" class="form-control searchbar-input" id="location" placeholder="Location" name="location">
              </div>
              <div class="form-group">
                <input type="number" class="form-control searchbar-input" id="zipcode" placeholder="Zipcode" name="zipcode">
              </div>
              <div class="form-group" style="padding-bottom:15px; text-align:center; margin-left:10px;">
                <button class="button btn btn-lg" type="submit">Find Now</button>
              </div>
          </div>
      </form>
    </div>
</div>
</div>
<div id="mainbody" class="container margin-class section-margin">
	<div class="title-margin-class">
    <div class="row">
			<div class="col-sm-4 col-md-4">
				<button style="font-size:20px; font-weight:bold;" class="collapsible">Subjects<br><span style="font-size:14px; font-weight:normal;">{{displaysub}}</span></button>
				<div class="content">
					<div style="margin-top:20px;">
						<div style="font-size:18px;">
							<div>
								<span>
                  <input id="history" style="margin-left: -120px;" type="checkbox" value="history" name="subjects[]">
                  <span style="margin-left:-120px; cursor:pointer;">HISTORY</span>
                </span>
							</div>
							<div>
								<span>
                  <input id="maths" onclick="filtervalue(this)" style="margin-left: -120px;" type="checkbox" value="maths" name="subjects[]">
                  <span style="margin-left:-120px; cursor:pointer;">MATHS</span>
                </span>
							</div>
						</div>
					</div>
				</div>
				<button class="collapsible">RATE</button>
				<div class="content">
					<div style="margin-top:20px;">
						<div style="font-size:18px;">
							<div>
                <span>
                  <input onclick="filtervalue(this)" style="margin-left: -120px;" type="checkbox" value="500" name="rateperhour[]">
                  <span style="margin-left:-120px; cursor:pointer;">500</span>
                </span>
							</div>
              <div>
                <span>
                  <input onclick="filtervalue(this)" style="margin-left: -120px;" type="checkbox" value="400" name="rateperhour[]">
                  <span style="margin-left:-120px; cursor:pointer;">400</span>
                </span>
							</div>
						</div>
					</div>
				</div>
			</div>
      <!--{{# each tutors}}
      {{# each this}}
			<div class="col-sm-4 col-md-4">
				<div  class="card" style="width:225px">
					<img class="card-img-top" src="/images/{{this.image}}" alt="Card image" style="width:100%">
					<div  class="card-body tutor-card-body">
						<h4  style="color: #134477;" class="card-title">{{this.firstname}} {{this.lastname}}</h4>
						<p  style="color:#91959a;" class="card-text">{{this.subjects}}</p>
						<button onclick="location.href='/users/view_tutor?email={{this.email}}'" class="view_tut_btn button btn btn-lg" type="button">View Tutor</button>
					</div>
				</div>
			</div>
      {{/each}}
      {{/each}}-->
      <div id="tutorslist">


      </div>
	</div>
</div>
</div>

<script>

var tutorprofilecontent = '';

$("#history").click(function(){

if(document.getElementById('history').checked){
  $.ajax({
    type:'GET',
    url: '/findtutor/filter',
    success: function(data){
      $.each(data, function(i, tutor){
        tutorprofilecontent += '<div class="col-sm-4 col-md-4">';
        tutorprofilecontent += '<div  class="card" style="width:225px">'
        tutorprofilecontent += '<img class="card-img-top" alt="Card image" style="width:100%" src=/images/'+this.image+'>'
        tutorprofilecontent += '<div  class="card-body tutor-card-body">';
        tutorprofilecontent += '<h4  style="color: #134477;" class="card-title">'+ this.firstname + ' ' + this.lastname+'</h4>';
        tutorprofilecontent += '<p id="emailpara" style="color:#91959a; display:none" class="card-text">' + this.email + '</p>';
        tutorprofilecontent += '<a class="view_tut_btn button btn btn-lg" href=/users/view_tutor?email='+ this.email +'>View Tutor</a>';
        tutorprofilecontent += '</div>';
        tutorprofilecontent += '</div>';
        tutorprofilecontent += '</div>';

      });
      $('#tutorslist').html(tutorprofilecontent);
      tutorprofilecontent = '';
    },
  });
}
});


/*document.addEventListener("scroll", function () {
	myFunc();
}, false);

function myFunc() {
 var stickysearchbar = document.getElementById("stickysearchbar");
 var sticky = stickysearchbar.offsetTop;
 var y = window.pageYOffset;

 if(y>100){
 stickysearchbar.style = "position:sticky; top:0; padding-top:60px; z-index:50;";
 }
}*/

var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}

/*function gettutor(x){
  $.get('/users/gettutor?experience='+ x , function(data, status){
    console.log(data)
    console.log(data[0][0]);
  });
}*/

var subject = [];
var fees = []
//var query = { $and: [ {subjects:'history'}, {rateperhour:'400'} ] };


/*function filtervalue(x){
  if(x.name=='subjects[]')
    {
        if(x.checked)
          {
              subject.push(x.value);
              query = { $and: [ {subjects:subject}, {rateperhour:'400'} ] };
              if(fees.length!=0){

                query = { $and: [ {subjects:subject}, {rateperhour:fees} ] };
              }else{
                query = { $and: [ {subjects:subject}, {rateperhour:'400'} ] };
              }

          }
          else
          {
              subject.pop(x.value);
              query = { $and: [ {subjects:'history'}, {rateperhour:'400'} ] };

              if(subject.length==0 && fees.length==0){
                query = { $and: [ {subjects:'history'}, {rateperhour:'400'} ] };
              }else if(subject.length!=0&&fees.length==0){
                query = { $and: [ {subjects:subject}, {rateperhour:'400'} ] };
              }else if(subject.length=0&&fees.length!=0){
                query = { $and: [ {subjects:'history'}, {rateperhour:fees} ] };
              }else{
                  query = { $and: [ {subjects:'history'}, {rateperhour:'400'} ] };
              }

          }
    }
    else if(x.name =='rateperhour[]')
    {
      if(x.checked)
        {
            subject.push(x.value);
            if(fees){
              query = { $and: [ {subjects:subject}, {rateperhour:fees} ] };
            }else{
              query = { $and: [ {subjects:subject}, {rateperhour:'400'} ] };
            }

        }
        else
        {
            subject.pop(x.value);
            if(subject.length==0 && fees.length==0){
              query = { $and: [ {subjects:'history'}, {rateperhour:'400'} ] };
            }else if(subject.length!=0&&fees.length==0){
              query = { $and: [ {subjects:subject}, {rateperhour:'400'} ] };
            }else if(subject.length=0&&fees.length!=0){
              query = { $and: [ {subjects:'history'}, {rateperhour:fees} ] };
            }else{
                query = { $and: [ {subjects:'history'}, {rateperhour:'400'} ] };
            }

        }
    }
    else
    {
         query = { $and: [ {subjects:'history'}, {rateperhour:'400'} ] };
       }
       if(x.checked){
         var query={subjects:'history'};
          searchtutor(query);
       }else{
         var query = {}
         searchtutor(query);
       }

}*/

/*var tutorprofilecontent = '';
function searchtutor(x){
  $('#tutorsprofile').html('');
  console.log(x);
  x = JSON.stringify(x);
$.getJSON('/findtutor/find_tutor?search='+x , function(data){
console.log(data.tutors[0]);
console.log(data.tutors.length);
$.each(data.tutors[0], function(data){
tutorprofilecontent += '<div class="col-sm-4 col-md-4">';
tutorprofilecontent += '<div  class="card" style="width:225px">'
//tutorprofilecontent += '<img class="card-img-top" src="/images/" + this.image' + 'alt="Card image" style="width:100%">';
tutorprofilecontent += '<div  class="card-body tutor-card-body">';
tutorprofilecontent += '<h4  style="color: #134477;" class="card-title">'+ this.firstname + ' ' + this.lastname+'</h4>';
tutorprofilecontent += '<p  style="color:#91959a;" class="card-text">' + this.subjects + '</p>';
//tutorprofilecontent += '<button onclick="location.href='/users/view_tutor?email='' + this.email + 'class="view_tut_btn button btn btn-lg" type="button">View Tutor</button>';
tutorprofilecontent += '<button class="view_tut_btn button btn btn-lg" type="button">View Tutor</button>';
tutorprofilecontent += '</div>';
tutorprofilecontent += '</div>';
tutorprofilecontent += '</div>';

});
$('#tutorsprofile').html(tutorprofilecontent);
});
}*/



</script>
