<style>

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;

}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 5px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 10px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
</style>
{{>header}}
{{>overlay}}
{{>message-overlay}}
{{>requirement-modal}}
<div class="section-margin margin-class">
	<div class="row title-margin-class">
		<div class="col-sm-4">
			<img class="card-img-top" src="/images/{{image}}" alt="Card image" style="width:100%">
		</div>
		<div class="col-sm-8">
			<div class="row">
				<div class="col-sm-8">
					<h1 style="color: #134477;">{{firstname}} {{lastname}}</h1>
				</div>
				<div class="col-sm-2" style="margin-top:10px;">
					<h3 style="color: #134477;">{{price}}/hr</h3>
				</div>

			</div>
			<div class="within-sec-margin">
				<span class="rating fa fa-star"></span>
				<span class="rating fa fa-star"></span>
				<span class="rating fa fa-star"></span>
				<span class="rating fa fa-star"></span>
				<span class="rating fa fa-star"></span>
			</div>
			<div style="color: #91959a; font-size:12px;">
				<p class="within-sec-margin" >My goal as a teacher or tutor is to provide access to quality education. Standartized tests, for better or worse, are the current 		gatekeepers in our society to a shrinking middle class. Suspendisse a sapien consectetur justo pulvinar egestas. Sed imperdiet iaculis arcu, porta semper lacus volutpat et. Aenean ullamcorper tellus et metus facilisis posuere id vitae libero. Nam quis ipsum in metus sollicitudin volutpat eu eget nunc.</p>
			</div>
			<div style="margin-top:30px;">
				<h5 style="color: #91959a;">SUBJECTS: {{subjects}}</h5>
			</div>
			<button onclick="showform(1);"  class="button btn btn-lg" type="button">Message</button>
			<!--<button  class="button btn btn-lg" type="button" data-toggle="modal" data-target="#myModal">Message</button>-->
			<button onclick="openForm();"  class="button btn btn-lg" type="button">Message</button>
		</div>
    </div>
	<div>
		<div class="btn-group btn-group-lg title-margin-class within-sec-margin">
			<button onclick="showtab(1);" style="background-color: #f6f8fa; color: #134477; border-color: #e3e3e3; margin-right:10px;" type="button" class="btn">Tab 1</button>
			<button onclick="showtab(2);"  style="background-color: #f6f8fa; color: #134477; border-color: #e3e3e3; margin-right:10px;" type="button" class="btn">Tab 2</button>
			<button onclick="showtab(3);"  style="background-color: #f6f8fa;color: #134477; border-color: #e3e3e3;" type="button" class="btn">Tab 3</button>
		</div>
		<div id="tabdetails" style="color: #91959a; margin-top:20px;">
			<p class="title-margin-class" id="paratext"></p>
		</div>
	</div>
</div>
<div class="chat-popup" id="myForm">

  <form action="#" class="form-container" method="post">
		<div id="messages" style="height:200px; overflow-y:scroll;">

		</div>
		<input type="hidden" id="hiddenemail" value="{{email}}" name="tutoremail">
    <textarea id="message" placeholder="Type message.." name="message" required></textarea>
    <button id="send" type="button" class="btn">Send</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>
<script>

document.onload = somefunction({{rating}}, 1);

function somefunction(n, a){
 var ratings = document.getElementsByClassName('rating');
 document.getElementById('paratext').innerHTML = "This is the " + a + "  paratext";
for(var i =0; i< 5-n; i ++){
	ratings[i].style.display = "none";
}
}
var email = '';
var socket = io();
$(() => {
$("#send").click(()=>{
//	alert('send clicked');
            sendMessage({message: $("#message").val(),email:$("#hiddenemail").val()});
						//document.getElementById('message').value = '';

        });
				getmessage($("#hiddenemail").val());
			});

socket.on('message', addMessages);

function addMessages(message){
        $("#messages").append(`<p> ${message.message} </p>`)
    }

		function getmessage(email){
      console.log(email);

      $.get('/users/displaychat?email='+email, (data) => {
				data.forEach(addMessages);
      });
    }

		function sendMessage(message){
      console.log('in sendMessage');
		    $.post('/users/sendchat', message);
				//document.getElementById('message').value = '';
        $("#messages").append(`<p> ${message.message} </p>`);
				alert('message has been sent');
        document.getElementById('message').value = '';

		    }


function openForm() {
  document.getElementById("myForm").style.display = "block";

}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}


function showtab(x){

	if(x=='1'){
		document.getElementById('paratext').innerHTML = "This is the " + x + "  paratext";
	}
	if(x=='2'){
		document.getElementById('paratext').innerHTML = "This is the " + x + " paratext";
	}
	if(x=='3 '){
		document.getElementById('paratext').innerHTML = "This is the " + x + " paratext";
	}
}
</script>
